@{
    ViewData["Title"] = "Acerca de nosotros";
}
<h1>@ViewData["Title"]</h1>

<p>Somos una empresa familiar, sólida y responsable ubicados en una zona urbana, lo que le brinda comodidad y accesibilidad a nuestras instalaciones de forma rápida. Nos caracterizamos por hacer nuestro trabajo con amor, esfuerzo, dedicación y por entregarle a nuestros clientes lo mejor de cada uno de nosotros. Más que una empresa al llegar a nuestras instalaciones va a encontrar una familia en la que puede confiar, permítanos cuidar de una parte de la suya!</p>
<p>Desarrollado por:</p>
<ul>
 <li>Aaron Rodríguez</li>
 <li>Christian Ortega</li>
 <li>Carlos Romero</li>
</ul>
<p>Proyecto Universitario para programación avanzada en Web impartida por el profesor Cristian Solano Perez.</p>
